@model DirEx.Models.DirectoryViewModel

@{
    ViewBag.Title = "Index";
}

<p>@Model.RelativeName</p>
<p>@Model.DistinguishedName</p>

@foreach (var child in Model.Entries)
{
	<p>@child.RelativeName</p>
	<p>@child.DistinguishedName</p>
}

