@model DirEx.Models.DirectoryViewModel

@{
    ViewBag.Title = "Index";
}

@ShowTree(Model.Entries)

@helper ShowTree(ICollection<DirEx.Models.EntryViewModel> entries)
{
	<ul>
		@foreach (var entry in entries)
		{
			<li>
				@Html.ActionLink(entry.RelativeName, "index", new { baseDn = @entry.DistinguishedName })
				@if (entry.Entries.Any())
				{
					@ShowTree(entry.Entries)
				}
			</li>
		}
	</ul>
}