body {
	margin-top: 50px;
}

.list-group-item:last-child {
	margin-bottom: -15px;
}

section > .list-group > .list-group-item:first-child {
	border: none;
}

.sidebar {
  left: 0;
  top: 50px;
  bottom: 0;
  position: fixed;
  width: 300px;
  overflow: scroll;
}

.content {
  float: left;
  margin-left: 320px;
  padding: 10px;
}