body {
	margin-top: 50px;
}

.sidebar {
  left: 0;
  top: 50px;
  bottom: 0;
  padding: 10px;
  position: fixed;
  width: 300px;
  overflow: scroll;
}

.content {
  float: left;
  margin-left: 320px;
  padding: 10px;
}