body {
	margin-top: 60px;
}

body.page-connect {
	margin-top: 80px;
}

.navbar-logo {
	height: 60px;
	float: left;
	margin-bottom: -10px;
	margin-right: 5px;
}

.list-group-item {
	padding-top: 6px;
	padding-bottom: 6px;
}

.list-group-item .list-group-item:first-child {
	margin-top: 6px;
}

a.active {
	color: #fff !important;
	font-weight: bold;
}

.page-index.page-home dd {
  word-break: break-all;
}

.list-group-item:last-child {
	margin-bottom: -15px;
}

section > .list-group > .list-group-item:first-child {
	border: none;
}

.sidebar {
  left: 0;
  top: 60px;
  bottom: 0;
  position: fixed;
  width: 300px;
  overflow: scroll;
}

.content {
  float: left;
  margin-left: 302px;
  padding: 10px;
}